<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>product home</h1>

    <% result.forEach(item => { %>
    <p><%= item.name %></p>
    <p><%= item.price %></p>
    <p><%= item.description %></p>
    <button type="button" onclick="location.href = '/product/edit/<%= item.id %>'">edit</button>
    <button type="button" onclick="location.href = '/product/api/delete/<%= item.id %>'">delete</button>
    <% }) %>
  </body>
</html>
